body{
    background-color: #bf0bb0;
    border-color: #777;
}

h1 {
    margin: 1em auto;
    text-align: center;
}

form {
    max-width: 650px;
    min-width: 400px;
    margin: 0 340px;
    background-color: #ffffff;
}

label {
    display: block;
    margin: 0.5rem 0;
    width: 100%;
}

#area input {
   text-decoration: #0000;
   background-color: #bf0bb0;
   margin-left: 190px;
   padding: 5px 100px;
}




  